   * {
       box-sizing: border-box;
       margin: 0;
   }
   /*root{ /*
couleur Primaire V: #9356DC;
couleur Secondaire R: #FF79DA
couleur Tertiaire Turquoise :#99E2D0;
 */
   /*font*/
   /*
roboto:'roboto',sans-sherif;
 */
   
   body {
       font-family: 'Roboto', sans-serif;
   }
   
   a {
       text-decoration: none;
       color: black;
   }
   
   header {
       padding: 1em 1em 0.5em 0em;
       text-align: center;
       position: relative;
   }
   /*zone de texte*/
   
   .texte {
       display: none;
   }
   
   .recherche {
       font-size: 17px;
       border: none;
   }
   
   .search-set {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: auto;
       background-color: #dcdcdc;
       padding: 10px;
   }
   
   .paddingsearch {
       padding-left: 20px;
   }
   /*en tête de page */
   
   .corp {
       text-align: center;
       padding: 1.5em 2.5em 1.5em 4.5em;
       background-color: #f6f6f6;
       margin-bottom: 40px;
   }
   
   h1[class='gras'] {
       font-size: 31px;
       text-align: center;
   }
   
   p[class='sous-titre'] {
       font-family: "roboto-thin";
       font-size: 1.1em;
       margin: 15px;
   }
   
   p {
       font-family: "roboto-thin";
       font-size: 1.1em;
       margin: 0;
   }
   /*bouton explorer nos restaurants page d'accueil*/
   
   .bouton-1 {
       padding: 1em 2.5em 1em 2.5em;
       margin: 2em 0 2em 0;
       line-height: 80px;
       color: #fff;
       font-family: "roboto";
       box-shadow: 2px 5px 5px #c8cdc6;
       text-align: center;
       font-size: 1.1em;
       background: linear-gradient(#FF79DA, #9356DC);
       border-radius: 30px;
       cursor: pointer;
   }
   /*Bonton pour passer commande dans les choix des plats*/
   
   .bouton-2 {
       padding: 1em 2.5em 1em 2.5em;
       margin: 25%;
       line-height: 80px;
       color: #fff;
       font-family: "roboto";
       box-shadow: 2px 5px 5px #c8cdc6;
       text-align: center;
       font-size: 1.1em;
       background: linear-gradient(#FF79DA, #9356DC);
       border-radius: 30px;
       cursor: pointer;
   }
   
   .restaurant {
       height: 15.5em;
       background-color: #fff;
       border-radius: 15px;
       position: relative;
   }
   /*liste de fonctionnement*/
   
   .list {
       padding: 2em 1em 2em 1em;
   }
   
   .fonct_title {
       margin-bottom: 1.5em;
   }
   
   .h2-wel {
       font-family: "roboto";
       font-size: 1.5em;
   }
   
   .fonct_step {
       background-color: #f6f6f6;
       height: 4em;
       width: 260px;
       line-height: 4em;
       padding-left: 2em;
       font-family: "roboto";
       border-radius: 20px;
       display: flex;
       position: relative;
       margin-bottom: 30px;
   }
   
   .fonct_step_number {
       background-color: #9356dc;
       width: 1.3em;
       height: 1.3em;
       border-radius: 45px;
       color: #fff;
       position: absolute;
       left: -0.7em;
       top: 1.9em;
       text-align: center;
       line-height: 11px;
       padding: 0.2em;
       font-size: .8em;
   }
   
   .fonct_step i {
       color: #7e7e7e;
       margin-right: 1em;
       line-height: 4em;
       width: 1em;
       text-align: center;
   }
   
   .fonct_steps :hover {
       cursor: pointer;
       background-color: #DDA0DD;
       ;
   }
   /*modification pour cette section*/
   
   .fonct_step_modif {
       background-color: #f6f6f6;
       height: 4em;
       width: 260px;
       line-height: 4em;
       padding-left: 2em;
       font-family: "roboto";
       border-radius: 20px;
       display: flex;
       position: relative;
   }
   
   .fonct_step_modif i {
       color: #9356dc;
       margin-right: 1em;
       line-height: 4em;
       width: 1em;
       text-align: center;
   }
   /* titre et plats du moment Restaurants */
   
   .main-section {
       background-color: #f6f6f6;
       ;
       padding: 2em 1em 3em 1em;
   }
   
   .titre-restaurants {
       font-family: "roboto-medium";
       font-size: 1.5em;
   }
   
   .restaurant_image {
       height: 10.5em;
       width: 100%;
       object-fit: cover;
       border-top-left-radius: 15px;
       border-top-right-radius: 15px;
   }
   
   .texte_resto {
       padding: 0.8em;
   }
   
   .h2[class="lieu-gras"] {
       margin: 0 0 7px 0;
       font-family: "roboto";
       font-size: 20px;
   }
   
   .lieu-gras {
       font-size: 20px;
       margin: 0 0 0.3em 0;
       font-family: "roboto";
   }
   
   .heart {
       font-size: 30px;
       position: absolute;
       margin: 0;
       width: 1em;
       height: 1em;
       cursor: pointer;
   }
   
   .heart .heart-color {
       position: absolute;
       right: 0;
       top: 0;
   }
   
   .restaurant .heart {
       right: 1em;
       bottom: 1em;
   }
   
   .restaurant-new {
       background-color: #99e2d0;
       font-family: "roboto";
       font-size: .8em;
       width: 5.5em;
       height: 2em;
       line-height: 2em;
       text-align: center;
       border-radius: 3px;
       position: absolute;
       top: 1em;
       right: 1em;
   }
   
   footer img {
       margin-bottom: 0.6em;
       width: 7em;
   }
   
   footer {
       background-color: #353535;
       color: #fff;
       font-family: "roboto";
       padding: 1.5em;
   }
   
   footer .footer_text {
       margin: 0.5em 0 0.5em 0;
   }
   
   .footer_text_lien {
       font-family: "roboto";
       color: #fff;
   }
   
   footer .footer_text i {
       color: #fff;
       width: 20px;
       margin-right: 10px;
       text-align: center;
   }
   
   .logo-footer {
       line-height: 52px;
       font-size: 27px;
   }
   /*palette du gout deuxieme page code css*/
   
   .logo {
       width: 100%;
   }
   
   .menu-jour {
       background-color: #f6f6f6;
       padding: 2em 1em 3em 1em;
       border-top-left-radius: 40px;
       border-top-right-radius: 40px;
       position: relative;
       margin-top: -3em;
       padding-bottom: 3em;
   }
   
   .ensemble {
       display: flex;
   }
   
   .title-gout {
       font-family: "shrikhand";
       font-size: 1.7em;
       margin: 0;
   }
   
   .title-gout_image {
       width: 100%;
       object-fit: cover;
       height: 15em;
   }
   
   .ensemble .heart {
       right: 1.1em;
       top: 1.1em
   }
   
   .menu-part_aliment {
       font-family: "roboto";
       font-size: 1.1em;
       margin: 1.5em 0 0 0;
   }
   
   .step1,
   .step2,
   .step3,
   .step4,
   .step5,
   .step6 {
       box-shadow: 3px 7px 10px 2px #eaeaea;
       background-color: #fff;
       border-radius: 15px;
       position: relative;
       margin: 1em 0 1em 0;
       display: flex;
       justify-content: space-between;
       cursor: pointer;
       height: 4.7em;
   }
   
   .step1_plats,
   .step2_plats,
   .step3_plats,
   .step4_plats,
   .step5_plats,
   .step6_plats {
       padding: 1em 0 1em 1em;
   }
   
   .step1_plats_name,
   .step2_plats_name,
   .step3_plats_name,
   .step4_plats_name,
   .step5_plats_name,
   .step6_plats_name {
       font-family: "roboto";
       font-size: 1.1em;
       margin: 0 0 0.3em 0;
   }
   
   .step1_plats_description,
   .step2_plats_description,
   .step3_plats_description,
   .step4_plats_description,
   .step5_plats_description,
   .step6_plats_description {
       font-family: "roboto";
       font-size: .9em;
   }
   
   .step1_dishes,
   .step2_dishes,
   .step3_dishes,
   .step4_dishes,
   .step5_dishes,
   .step6_dishes {
       margin: 32px 52px 0px 0px;
   }
   
   .step1_dishes_price,
   .step2_dishes_price,
   .step3_dishes_price,
   .step4_dishes_price,
   .step5_dishes_price,
   .step6_dishes_price {
       position: absolute;
   }
   /*si largeur de l'appreil est superieur ou égalme à 600px */
   
   @media screen and (min-width:600px) {
       .h2-wel {
           margin-left: 2em;
       }
       .fonct_steps {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
           padding: 0 3em 0 3em;
       }
       .fonct_steps {
           margin: 1em;
           width: 15;
       }
       .titre-restaurants {
           margin-left: 2em
       }
       .plats {
           display: flex;
           flex-wrap: flex-wrap;
           justify-content: space-around;
       }
       .restaurants__container {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
           padding: 0 2em 0 2em;
       }
       .restaurant {
           width: 18em;
           margin: 1em;
       }
       .bouton-2 {
           padding: 1em 2.5em 1em 2.5em;
           margin: 39%;
           line-height: 80px;
           color: #fff;
           font-family: "roboto";
           box-shadow: 2px 5px 5px #c8cdc6;
           text-align: center;
           font-size: 1.1em;
           background: linear-gradient(#FF79DA, #9356DC);
           border-radius: 30px;
           cursor: pointer;
       }
   }