* {
    box-sizing: border-box;
    margin: 0;
}


/*root{ /*
couleur Primaire V: #9356DC;
couleur Secondaire R: #FF79DA
couleur Tertiaire Turquoise :#99E2D0;
*/


/*font*/


/*
roboto:'roboto',sans-sherif;
*/

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    padding: 1em 1em 0.5em 0em;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 70px;
}


/*zone de texte*/

.texte {
    display: none;
}

.recherche {
    font-size: 17px;
    border: none;
}

fa-arrow-left {
    margin: 10px;
}

.search-set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #dcdcdc;
    padding: 10px;
}

.paddingsearch {
    padding-left: 20px;
}


/*en tête de page */

.corp {
    text-align: center;
    padding: 1.5em 2.5em 1.5em 4.5em;
    background-color: #f6f6f6;
    margin-bottom: 40px;
}

h1[class='gras'] {
    font-size: 31px;
    text-align: center;
}

p[class='sous-titre'] {
    font-family: "roboto-thin";
    font-size: 1.1em;
    margin: 15px;
}

p {
    font-family: "roboto-thin";
    font-size: 1.1em;
    margin: 0;
}


/*bouton explorer nos restaurants page d'accueil*/

.bouton-1 {
    padding: 1em 2.5em 1em 2.5em;
    margin: 2em 0 2em 0;
    line-height: 80px;
    color: #fff;
    font-family: "roboto";
    box-shadow: 2px 5px 5px #c8cdc6;
    text-align: center;
    font-size: 1.1em;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    cursor: pointer;
}


/*Bonton pour passer commande dans les choix des plats*/

.bouton-2 {
    padding: 1em 2.5em 1em 2.5em;
    margin: 25%;
    line-height: 80px;
    color: #fff;
    font-family: "roboto";
    box-shadow: 2px 5px 5px #c8cdc6;
    text-align: center;
    font-size: 1.1em;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    cursor: pointer;
}

.fa-heart {
    position: absolute;
    right: 10%;
    top: 76%;
    font-size: 32px;
    cursor: pointer;
}

.ensemble .fa-heart {
    position: absolute;
    right: 10%;
    top: 3%;
    font-size: 32px;
    cursor: pointer;
}

.fa-heart.fas {
    background: -o-linear-gradient(260deg, #9356DC, #FF79DA);
    background: linear-gradient(190deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    -webkit-animation: coeur 0.5s ease both;
    animation: coeur 0.5s ease both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.restaurant {
    height: 15.5em;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
}


/*liste de fonctionnement*/

.list {
    padding: 2em 1em 2em 1em;
}

.fonct_title {
    margin-bottom: 1.5em;
}

.h2-wel {
    font-family: "roboto";
    font-size: 1.5em;
}

.fonct_step {
    background-color: #f6f6f6;
    height: 4em;
    width: 260px;
    line-height: 4em;
    padding-left: 2em;
    font-family: "roboto";
    border-radius: 20px;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.fonct_step_number {
    background-color: #9356dc;
    width: 1.3em;
    height: 1.3em;
    border-radius: 45px;
    color: #fff;
    position: absolute;
    left: -0.7em;
    top: 1.9em;
    text-align: center;
    line-height: 11px;
    padding: 0.2em;
    font-size: .8em;
}

.fonct_step i {
    color: #7e7e7e;
    margin-right: 1em;
    line-height: 4em;
    width: 1em;
    text-align: center;
}

.fonct_steps :hover {
    cursor: pointer;
    background-color: #DDA0DD;
    ;
}


/*modification pour cette section*/

.fonct_step_modif {
    background-color: #f6f6f6;
    height: 4em;
    width: 260px;
    line-height: 4em;
    padding-left: 2em;
    font-family: "roboto";
    border-radius: 20px;
    display: flex;
    position: relative;
}

.fonct_step_modif i {
    color: #9356dc;
    margin-right: 1em;
    line-height: 4em;
    width: 1em;
    text-align: center;
}


/* titre et plats du moment Restaurants */

.main-section {
    background-color: #f6f6f6;
    ;
    padding: 2em 1em 3em 1em;
}

.titre-restaurants {
    font-family: "roboto-medium";
    font-size: 1.5em;
}

.restaurant_image {
    height: 10.5em;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.texte_resto {
    padding: 0.8em;
}

.h2[class="lieu-gras"] {
    margin: 0 0 7px 0;
    font-family: "roboto";
    font-size: 20px;
}

.lieu-gras {
    font-size: 20px;
    margin: 0 0 0.3em 0;
    font-family: "roboto";
}

.restaurant-new {
    background-color: #99e2d0;
    font-family: "roboto";
    font-size: .8em;
    width: 5.5em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    top: 1em;
    right: 1em;
}

footer img {
    margin-bottom: 0.6em;
    width: 7em;
}

footer {
    background-color: #353535;
    color: #fff;
    font-family: "roboto";
    padding: 1.5em;
}

footer .footer_text {
    margin: 0.5em 0 0.5em 0;
}

.footer_text_lien {
    font-family: "roboto";
    color: #fff;
}

footer .footer_text i {
    color: #fff;
    width: 20px;
    margin-right: 10px;
    text-align: center;
}

.logo-footer {
    line-height: 52px;
    font-size: 27px;
}


/*palette du gout deuxieme page code css*/

.logo {
    width: 100%;
}

.menu-jour {
    background-color: #f6f6f6;
    padding: 2em 1em 3em 1em;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    margin-top: -3em;
    padding-bottom: 3em;
}

.ensemble {
    display: flex;
}

.title-gout {
    font-family: "shrikhand";
    font-size: 1.7em;
    margin: 0;
}

.title-gout_image {
    width: 100%;
    object-fit: cover;
    height: 15em;
}

.menu-part_aliment {
    font-family: "roboto";
    font-size: 1.1em;
    margin: 1.5em 0 0 0;
}

.step1,
.step2,
.step3,
.step4,
.step5,
.step6 {
    box-shadow: 3px 7px 10px 2px #eaeaea;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    height: 4.7em;
}

.step1,
.step2,
.step3,
.step4,
.step5,
.step6 {
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: initial;
}

.step1_plats,
.step2_plats,
.step3_plats,
.step4_plats,
.step5_plats,
.step6_plats {
    padding: 6px 0 1px 1em;
    display: flex;
    flex: 100%;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
}

.step1_plats_name,
.step2_plats_name,
.step3_plats_name,
.step4_plats_name,
.step5_plats_name,
.step6_plats_name {
    font-family: "roboto";
    font-size: 1.1em;
    margin: 0px 0 6px 0;
}

.step1_plats_description,
.step2_plats_description,
.step3_plats_description,
.step4_plats_description,
.step5_plats_description,
.step6_plats_description {
    font-family: "roboto";
    font-size: .9em;
}

.step1_dishes,
.step2_dishes,
.step3_dishes,
.step4_dishes,
.step5_dishes,
.step6_dishes {
    margin: 32px 52px 0px 0px;
}

.step1_dishes_price,
.step2_dishes_price,
.step3_dishes_price,
.step4_dishes_price,
.step5_dishes_price,
.step6_dishes_price {
    position: absolute;
    margin-top: 2px;
}

.step1_check,
.step2_check,
.step3_check,
.step4_check,
.step5_check,
.step6_check {
    flex: 21%;
    margin-right: 133px;
    color: #f6f6f6;
    background-color: #99e2d0;
    font-size: 39px;
    text-align: center;
    PADDING: 20px;
    height: 77px;
    line-height: 2px;
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    transform: translateX(134px);
    cursor: pointer;
    transition: all 700ms;
}

.underline-h2,
.underline-h3,
.underline-h2 {
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    margin: 4px;
    padding: 0;
    margin-left: 0;
}

.spinner {
    height: 100%;
    background-color: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    animation: spinner 2s linear;
    visibility: hidden;
}

.spinner_border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    border-top: 10px solid #9356dc;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spin 2s linear;
    z-index: 10;
    visibility: hidden;
}

@media screen and (max-width:599px) {
    .logo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    header {
        padding: 1em 1em 0.5em 0em;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .fa-arrow-left {
        margin-right: 35px;
    }
    img {
        width: 50%;
    }
    .step1,
    .step2,
    .step3,
    .step4,
    .step5,
    .step6 {
        box-shadow: 3px 7px 10px 2px #eaeaea;
        background-color: #fff;
        border-radius: 15px;
        margin: 0em 0 1em 0;
        cursor: pointer;
        height: 88px;
    }
    .step1_plats_name,
    .step2_plats_name,
    .step3_plats_name,
    .step4_plats_name,
    .step5_plats_name,
    .step6_plats_name {
        font-family: "roboto";
        font-size: 16px;
        margin: 5px 0 3px 0;
    }
    .step1_dishes,
    .step2_dishes,
    .step3_dishes,
    .step4_dishes,
    .step5_dishes,
    .step6_dishes {
        margin: -44px -86px 3px 68px;
        display: flex;
        align-items: center;
    }
    .step1_check,
    .step2_check,
    .step3_check,
    .step4_check,
    .step5_check,
    .step6_check {
        margin-right: 133px;
        color: #f6f6f6;
        background-color: #99e2d0;
        font-size: 32px;
        PADDING: 18px;
        height: 88px;
        line-height: 44px;
        border-bottom-right-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        transform: translateX(134px);
        cursor: pointer;
        transition: all 700ms;
    }
}


/*si largeur de l'appreil est superieur ou égalme à 600px */

@media screen and (min-width:600px) {
    .h2-wel {
        margin-left: 2em;
    }
    .fonct_steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 3em 0 3em;
    }
    .fonct_steps {
        margin: 1em;
        width: 15;
    }
    .titre-restaurants {
        margin-left: 2em
    }
    .plats {
        display: flex;
        flex-wrap: flex-wrap;
        justify-content: space-around;
    }
    .restaurants__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 2em 0 2em;
    }
    .restaurant {
        width: 18em;
        margin: 1em;
    }
    .bouton-2 {
        padding: 1em 2.5em 1em 2.5em;
        margin: 39%;
        line-height: 80px;
        color: #fff;
        font-family: "roboto";
        box-shadow: 2px 5px 5px #c8cdc6;
        text-align: center;
        font-size: 1.1em;
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: 30px;
        cursor: pointer;
    }
}


/*animation keyframes/
/*début de la transformation*/

@keyframes appear {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    /*fin  de la transformation*/
}


/*loading page d'acceuil*/

.loader {
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
}

.loard_side {
    display: inline-block;
    border: 16px solid #bdc3c7;
    width: 80px;
    height: 80px;
    margin: 400px auto;
    border-bottom-color: #9356dc;
    border-top-color: #99e2d0;
    border-radius: 50%;
    animation-name: spin;
    -webkit-animation-name: spin;
    animation-duration: 1200ms;
    -webkit-animation-duration: 1200ms;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}


/*la fonction scale permet de modifier la taille 
d'un élement avec un facteur d'échelle sur deux dimensions*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        overflow: hidden;
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        border-top-color: #FF79DA;
        border-bottom-color: #9356dc;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        overflow: hidden;
    }
    100% {
        transform: rotate(360deg) scale(1);
        border-top-color: #FF79DA;
        border-bottom-color: #9356dc;
        visibility: hidden;
    }
}


/*boutons -color like*/

@keyframes coeur {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        background-clip: text;
    }
    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        background-clip: text;
    }
}